@(tree: List[Tree])
@import b3.vertical.fieldConstructor
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Product Category</h3>
            </div>
            @general_content.search_field("search field")
        </div>
        <div class="clearfix"></div>
        @general_content.notification_section("notification section")
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Category</h2>

                        <div class="pull-right">
                            <button class="btn btn-primary" type="reset">New</button>
                            <button class="btn btn-danger" type="reset">Deactivate</button>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br/>

                        <div class="" role="tabpanel" data-example-id="togglable-tabs">
                            <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                                <li role="presentation" class="active">
                                    <a href="#tab_content1" id="home-tab" role="tab"
                                    data-toggle="tab"
                                    aria-expanded="true">Category Info</a>
                                </li>
                                <li role="presentation" class="">
                                    <a href="#tab_content2" role="tab" id="profile-tab"
                                    data-toggle="tab" aria-expanded="false">Extra Info</a>
                                </li>
                            </ul>
                            <div id="myTabContent" class="tab-content">
                                <div role="tabpanel" class="tab-pane fade active in" id="tab_content1"
                                aria-labelledby="home-tab">

                                    <div class="well">
                                    @for(t <- tree) {
                                        @Html(t.getName().concat("<br>"))
                                    }
                                    </div>
                                    
                                    <div class="row">
                                        <div class="col-md-6 col-sm-12 col-xs-12">
                                            <h4>Insert Category</h4>
                                            @b3.formCSRF(controllers.dekottena.routes.ProductCategoryController.save(),
                                                'class -> "form-horizontal form-label-left",
                                                'id -> "cat_form_sav", 'enctype -> "multipart/form-data") {
                                                <div class="form-group">
                                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                                        Category Name</label>
                                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                                        <input type="text" name="cat_name" class="col-md-4 form-control">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                                        Parent Category</label>
                                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                                        <select name="parent_id" id="parent_id" class="col-md-4 form-control">
                                                        @for(t <- tree) {
                                                            @Html("<option value='" + t.getNodeId() + "'>" + t.getName() + "</option>")
                                                        }
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="ln_solid"></div>
                                                @b3.free('_id -> "btn_group") {
                                                    <button type="submit" class="btn btn-success pull-right"> Save</button>
                                                    <button type="button" class="btn btn-primary pull-right">
                                                        Restore Back</button>
                                                }
                                            }
                                        </div>
                                        <div class="col-md-6 col-sm-12 col-xs-12">
                                            <h4>Delete Category</h4>
                                            @b3.formCSRF(controllers.dekottena.routes.ProductCategoryController.delete(),
                                                'class -> "form-horizontal form-label-left", 'id -> "cat_form_del") {
                                                <div class="form-group">
                                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                                        Category Name</label>
                                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                                        <select name="delete_id" id="delete_id" class="col-md-4 form-control">
                                                        @for(t <- tree) {
                                                            @Html("<option value='" + t.getNodeId() + "'>" + t.getName() + "</option>")
                                                        }
                                                        </select>
                                                    </div>
                                                </div>
                                                <br>
                                                <br>
                                                <div class="ln_solid"></div>
                                                @b3.free('_id -> "btn_group") {
                                                    <button type="submit" class="btn btn-danger pull-right"> Delete</button>
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>

                                <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>