@(fitting_code: String, fitting_action: String, dList: String, f_form: play.data.Form[models.Fitting])

    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>Product Fitting</h3>
                </div>
                @general_content.search_field(dList)
            </div>
            <div class="clearfix"></div>
            @general_content.notification_section("notification section")
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>@fitting_action - @fitting_code</h2>

                            <div class="pull-right">
                                <button class="btn btn-primary" type="reset">New</button>
                                <button class="btn btn-danger" type="reset">Deactivate</button>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <br/>

                            <div class="" role="tabpanel" data-example-id="togglable-tabs">
                                <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                                    <li role="presentation" class="active">
                                        <a href="#tab_content1" id="home-tab" role="tab"
                                        data-toggle="tab"
                                        aria-expanded="true">Fitting Info</a>
                                    </li>
                                    <li role="presentation" class="">
                                        <a href="#tab_content2" role="tab" id="profile-tab"
                                        data-toggle="tab" aria-expanded="false">Extra Info</a>
                                    </li>
                                </ul>
                                <div id="myTabContent" class="tab-content">
                                    <div role="tabpanel" class="tab-pane fade active in" id="tab_content1"
                                    aria-labelledby="home-tab">


                                    @if(fitting_action.contains("New")) {

                                        @_new(fitting_code, fitting_action, f_form)
                                    } else {

                                        @_edit(fitting_code, fitting_action, f_form)
                                    }

                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="tab_content2"
                                    aria-labelledby="profile-tab">

                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>