@index("Product Fitting") {

    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                @general_content.header("Dekottena Home")

                    <!-- menu profile quick info -->
                @general_content.side_bar_header("side bar header")
                    <!-- /menu profile quick info -->
                <br/>
                    <!-- sidebar menu -->
                @general_content.side_bar("side bar"){@views.html.dekottena.common.sidebar_general()}{@views.html.dekottena.common.sidebar_settings()}
                    <!-- /sidebar menu -->

                    <!-- /menu footer buttons -->
                @general_content.side_bar_footer("side bar footer")
                    <!-- /menu footer buttons -->
            </div>
        </div>

            <!-- top navigation -->
        @general_content.top_navigation("top navigation")
            <!-- /top navigation -->

            <!-- page content -->
        @content("Product Coating")
            <!-- /page content -->

            <!-- footer content -->
        @general_content.footer("footer")
            <!-- /footer content -->
    </div>
}(null)