@(coating_code: String, coating_action: String, c_form: play.data.Form[models.Coating])

    @implicitFieldConstructor = @{
        b3.horizontal.fieldConstructor("col-md-2", "col-md-10")
    }

    @b3.formCSRF(controllers.dekottena.routes.ProductCoatingController.update(), 'id -> "co_form",
        'enctype -> "multipart/form-data") {

        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                @b3.text(c_form("title"),
                    'id -> "c_title", 'class -> "form-control", '_label -> "Title")
                @b3.textarea(c_form("description"),
                    'id -> "c_desc", 'class -> "form-control", '_label -> "Description")
                @b3.text(c_form("charge"),
                    'id -> "c_charge", 'class -> "form-control", '_label -> "Charge")
                @b3.textarea(c_form("remark"),
                    'id -> "c_remark", 'class -> "form-control", '_label -> "Remark")
                @b3.checkbox(c_form("status"), 'class -> "js-switch", '_text -> "Active", 'checked -> true)
                @b3.hidden(c_form("code"), 'value -> coating_code)
                @b3.hidden(c_form("coatingAction"), 'value -> coating_action)
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
            @b3.file(c_form("imgName"), 'id -> "c_img", '_label -> "Coating Image")
            </div>
        </div>
        <div class="ln_solid"></div>
        @b3.free('_id -> "btn_group") {
            <button type="submit" class="btn btn-success"> Save</button>
            <button type="button" class="btn btn-primary"> Restore Back</button>
        }
    }