@(pr_coating: String)
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>@pr_coating</h3>
            </div>
            @general_content.search_field("search field")
        </div>
        <div class="clearfix"></div>
        @general_content.notification_section("notification section")
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Coating</h2>

                        <div class="pull-right">
                            <button class="btn btn-primary" type="reset">New</button>
                            <button class="btn btn-danger" type="reset">Deactivate</button>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br/>

                        <div class="" role="tabpanel" data-example-id="togglable-tabs">
                            <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                                <li role="presentation" class="active">
                                    <a href="#tab_content1" id="home-tab" role="tab"
                                    data-toggle="tab"
                                    aria-expanded="true">Coating Info</a>
                                </li>
                                <li role="presentation" class="">
                                    <a href="#tab_content2" role="tab" id="profile-tab"
                                    data-toggle="tab" aria-expanded="false">Extra Info</a>
                                </li>
                            </ul>
                            <div id="myTabContent" class="tab-content">
                                <div role="tabpanel" class="tab-pane fade active in" id="tab_content1"
                                aria-labelledby="home-tab">
                                    <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left"
                                    method="POST" action="">
                                        <div class="row">
                                            <div class="col-md-6 col-sm-12 col-xs-12">
                                                <h3>Basic</h3>

                                                <div class="form-group">
                                                    <label class="control-label col-md-2 col-sm-2 col-xs-12"
                                                    for="v_name">
                                                        Name
                                                        <span class="required">*</span>
                                                    </label>

                                                    <div class="col-md-10 col-sm-10 col-xs-12">
                                                        <input type="text" class="form-control col-md-7 col-xs-12" required="required">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-md-2 col-sm-2 col-xs-12"
                                                    for="first_name">
                                                        Balance
                                                    </label>

                                                    <div class="col-md-10 col-sm-10 col-xs-12">
                                                        <input type="text" class="form-control col-md-7 col-xs-12" required="required">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-6 col-sm-12 col-xs-12">
                                                <h3>Address</h3>

                                                <div class="form-group">
                                                    <label class="control-label col-md-2 col-sm-2 col-xs-12"
                                                    for="address">
                                                        Address
                                                    </label>

                                                    <div class="col-md-10 col-sm-10 col-xs-12">
                                                        <textarea class="form-control col-md-7 col-xs-12" rows="6" required="required"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="ln_solid"></div>
                                        <div class="form-group">
                                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                                <button type="submit" class="btn btn-success">Save</button>
                                                <button class="btn btn-primary" type="reset">Restore Back</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="tab_content2"
                                aria-labelledby="profile-tab">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>