@(coating_code: String, coating_action: String, dList: String, c_form: play.data.Form[models.Coating])

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Product Coating</h3>
            </div>
            @general_content.search_field(dList)
            </div>
        <div class="clearfix"></div>
        @general_content.notification_section("notification section")
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>@coating_action - @coating_code</h2>

                        <div class="pull-right">
                            <a class="btn btn-primary" href="@controllers.dekottena.routes.ProductCoatingController.home()">New</a>
                            <button class="btn btn-danger" type="reset">Deactivate</button>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br/>

                        <div class="" role="tabpanel" data-example-id="togglable-tabs">
                            <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                                <li role="presentation" class="active">
                                    <a href="#tab_content1" id="home-tab" role="tab"
                                    data-toggle="tab"
                                    aria-expanded="true">Coating Info</a>
                                </li>
                                <li role="presentation" class="">
                                    <a href="#tab_content2" role="tab" id="profile-tab"
                                    data-toggle="tab" aria-expanded="false">Extra Info</a>
                                </li>
                            </ul>
                            <div id="myTabContent" class="tab-content">
                                <div role="tabpanel" class="tab-pane fade active in" id="tab_content1"
                                aria-labelledby="home-tab">

                                @if(coating_action.contains("New")) {

                                    @_new(coating_code, coating_action, c_form)
                                } else {

                                    @_edit(coating_code, coating_action, c_form)
                                }

                                </div>

                                <div role="tabpanel" class="tab-pane fade" id="tab_content2"
                                aria-labelledby="profile-tab">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>