@(p_form: play.data.Form[models.Product])

    @implicitFieldConstructor = @{ b3.horizontal.fieldConstructor("col-md-3", "col-md-9") }

    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>Product Coating</h3>
                </div>
                @general_content.search_field("search field")
            </div>
            <div class="clearfix"></div>
            @general_content.notification_section("notification section")
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>@p_form("code")</h2>

                            <div class="pull-right">
                                <button class="btn btn-primary" type="reset">New</button>
                                <button class="btn btn-danger" type="reset">Deactivate</button>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <br/>

                            <div class="" role="tabpanel" data-example-id="togglable-tabs">
                                <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                                    <li role="presentation" class="active">
                                        <a href="#tab_content1" id="home-tab" role="tab"
                                        data-toggle="tab"
                                        aria-expanded="true">Product Info</a>
                                    </li>
                                    <li role="presentation" class="">
                                        <a href="#tab_content2" role="tab" id="profile-tab"
                                        data-toggle="tab" aria-expanded="false">Extra Info</a>
                                    </li>
                                </ul>
                                <div id="myTabContent" class="tab-content">
                                    <div role="tabpanel" class="tab-pane fade active in" id="tab_content1"
                                    aria-labelledby="home-tab">
                                    @b3.form(controllers.dekottena.routes.ProductController.save(), 'id -> "co_form") {

                                        <div class="row">
                                            <div class="col-md-6 col-sm-12 col-xs-12">
                                                @b3.text(p_form("title"),
                                                    'id -> "title", 'class -> "form-control", '_label -> "Title")
                                                @b3.textarea(p_form("bold_text"),
                                                    'id -> "bold_text", 'class -> "form-control", '_label -> "Bolt Text")
                                                @b3.textarea(p_form("home_description"),
                                                    'id -> "home_description", 'class -> "form-control", '_label -> "Home Description")
                                                @b3.textarea(p_form("short_description"),
                                                    'id -> "short_description", 'class -> "form-control", '_label -> "Short Description")
                                                @b3.textarea(p_form("long_description"),
                                                    'id -> "long_description", 'class -> "form-control", '_label -> "Long Description")
                                                @b3.file(p_form("main_image"),
                                                    'id -> "main_image", 'class -> "form-control", '_label -> "Main Image")
                                                @b3.file(p_form("side_view"),
                                                    'id -> "side_view", 'class -> "form-control", '_label -> "Side View Image")
                                                @b3.text(p_form("price"),
                                                    'id -> "price", 'class -> "form-control", '_label -> "Price")
                                                @b3.textarea(p_form("remark"),
                                                    'id -> "c_remark", 'class -> "form-control", '_label -> "Remark")
                                            </div>
                                            <div class="col-md-6 col-sm-12 col-xs-12">

@*//                                                @b3.select( p_form("foo"), options = Seq("A"->"Apples","P"->"Pears","B"->"Bananas"), '_label -> "Select",'id -> "c_remark", 'class -> "form-control",'multiple->"multiple" )*@

                                                <fieldset>
                                                    <legend>Coating:</legend>
                                                    @b3.checkbox(p_form("ch1"),'id -> "ch1", 'class -> "", '_label -> "Coating 1")

                                                    @b3.checkbox(p_form("ch2"),'id -> "ch2", 'class -> "", '_label -> "Coating 2")

                                                    @b3.checkbox(p_form("ch3"),'id -> "ch3", 'class -> "", '_label -> "Coating 3")

                                                    @b3.checkbox(p_form("ch4"),'id -> "ch4", 'class -> "", '_label -> "Coating 4")
                                                </fieldset>

                                                <fieldset>
                                                    <legend>Fitting:</legend>
                                                    @b3.checkbox(p_form("ft1"),'id -> "ft1", 'class -> "", '_label -> "Fitting 1")

                                                    @b3.checkbox(p_form("ft2"),'id -> "ft2", 'class -> "", '_label -> "Fitting 2")

                                                    @b3.checkbox(p_form("ft3"),'id -> "ft3", 'class -> "", '_label -> "Fitting 3")

                                                    @b3.checkbox(p_form("ft4"),'id -> "ft4", 'class -> "", '_label -> "Fitting 4")
                                                </fieldset>
                                            </div>
                                        </div>

                                        <div class="ln_solid"></div>
                                        @b3.submit('class -> "btn btn-success"){ Save }
                                        @b3.button('class -> "btn btn-primary"){ Restore Back }
                                    }
                                    </div>

                                    <div role="tabpanel" class="tab-pane fade" id="tab_content2"
                                    aria-labelledby="profile-tab">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>