@(s_action: String, s_form: play.data.Form[models.Size])

@implicitFieldConstructor = @{
    b3.horizontal.fieldConstructor("col-md-2", "col-md-10")
}

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Product Size</h3>
            </div>
            @general_content.search_field("search field")
        </div>
        <div class="clearfix"></div>
        @general_content.notification_section("notification section")
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>@s_action</h2>

                        <div class="pull-right">
                            <button class="btn btn-primary" type="reset">New</button>
                            <button class="btn btn-danger" type="reset">Deactivate</button>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br/>

                        <div class="" role="tabpanel" data-example-id="togglable-tabs">
                            <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                                <li role="presentation" class="active">
                                    <a href="#tab_content1" id="home-tab" role="tab"
                                    data-toggle="tab"
                                    aria-expanded="true">Product Size Info</a>
                                </li>
                                <li role="presentation" class="">
                                    <a href="#tab_content2" role="tab" id="profile-tab"
                                    data-toggle="tab" aria-expanded="false">Extra Info</a>
                                </li>
                            </ul>
                            <div id="myTabContent" class="tab-content">
                                <div role="tabpanel" class="tab-pane fade active in" id="tab_content1"
                                aria-labelledby="home-tab">
                                @b3.form(controllers.dekottena.routes.ProductSizeController.save(), 'id -> "s_form") {

                                    <div class="row">
                                        <div class="col-md-6 col-sm-12 col-xs-12">
                                            @b3.text(s_form("name"),
                                                'id -> "s_name", 'class -> "form-control", '_label -> "Size Name")
                                            @b3.number(s_form("width"),
                                                'id -> "s_width", 'class -> "form-control", '_label -> "Width")
                                            @b3.number(s_form("height"),
                                                'id -> "s_height", 'class -> "form-control", '_label -> "Height")
                                            @b3.select(s_form("measureUnit"), options = Seq(
                                                "mm" -> "Millimeters",
                                                "cm" -> "Centimeters",
                                                "inches" -> "Inches"
                                            ),
                                                'id -> "s_munit", 'class -> "form-control",
                                                '_label -> "Measure Unit")
                                            @b3.textarea(s_form("remark"),
                                                'id -> "s_remark", 'class -> "form-control", '_label -> "Remark")
                                            @b3.checkbox(s_form("status"), 'class -> "js-switch", '_text -> "Active", 'checked -> true)
                                        </div>
                                    </div>

                                    <div class="ln_solid"></div>
                                    @b3.free('_id -> "btn_group") {
                                        <button type="submit" class="btn btn-success"> Save</button>
                                        <button type="button" class="btn btn-primary"> Restore Back</button>
                                    }
                                }
                                </div>

                                <div role="tabpanel" class="tab-pane fade" id="tab_content2"
                                aria-labelledby="profile-tab">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>