@(custom: Html)

<script src="@routes.Assets.versioned("vendors/jquery/dist/jquery.min.js")"></script>
<script src="@routes.Assets.versioned("vendors/bootstrap/dist/js/bootstrap.min.js")"></script>
<script src="@routes.Assets.versioned("vendors/fastclick/lib/fastclick.js")"></script>
<script src="@routes.Assets.versioned("vendors/nprogress/nprogress.js")"></script>
<script src="@routes.Assets.versioned("vendors/Chart.js/dist/Chart.min.js")"></script>
<script src="@routes.Assets.versioned("vendors/gauge.js/dist/gauge.min.js")"></script>
<script src="@routes.Assets.versioned("vendors/bootstrap-progressbar/bootstrap-progressbar.min.js")"></script>
<script src="@routes.Assets.versioned("vendors/iCheck/icheck.min.js")"></script>
<script src="@routes.Assets.versioned("vendors/skycons/skycons.js")"></script>
<script src="@routes.Assets.versioned("vendors/Flot/jquery.flot.js")"></script>
<script src="@routes.Assets.versioned("vendors/Flot/jquery.flot.pie.js")"></script>
<script src="@routes.Assets.versioned("vendors/Flot/jquery.flot.time.js")"></script>
<script src="@routes.Assets.versioned("vendors/Flot/jquery.flot.stack.js")"></script>
<script src="@routes.Assets.versioned("vendors/Flot/jquery.flot.resize.js")"></script>
<script src="@routes.Assets.versioned("vendors/flot.orderbars/js/jquery.flot.orderBars.js")"></script>
<script src="@routes.Assets.versioned("vendors/flot-spline/js/jquery.flot.spline.min.js")"></script>
<script src="@routes.Assets.versioned("vendors/flot.curvedlines/curvedLines.js")"></script>
<script src="@routes.Assets.versioned("vendors/DateJS/build/date.js")"></script>
<script src="@routes.Assets.versioned("vendors/jqvmap/dist/jquery.vmap.js")"></script>
<script src="@routes.Assets.versioned("vendors/jqvmap/dist/maps/jquery.vmap.world.js")"></script>
<script src="@routes.Assets.versioned("vendors/jqvmap/examples/js/jquery.vmap.sampledata.js")"></script>
<script src="@routes.Assets.versioned("vendors/moment/min/moment.min.js")"></script>
<script src="@routes.Assets.versioned("vendors/bootstrap-daterangepicker/daterangepicker.js")"></script>
<script src="@routes.Assets.versioned("vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js")"></script>
<script src="@routes.Assets.versioned("vendors/jquery.hotkeys/jquery.hotkeys.js")"></script>
<script src="@routes.Assets.versioned("vendors/google-code-prettify/src/prettify.js")"></script>
<script src="@routes.Assets.versioned("vendors/jquery.tagsinput/bootstrap-tagsinput.min.js")"></script>
<script src="@routes.Assets.versioned("vendors/select2/dist/js/select2.full.min.js")"></script>
<script src="@routes.Assets.versioned("vendors/parsleyjs/dist/parsley.min.js")"></script>
<script src="@routes.Assets.versioned("vendors/autosize/dist/autosize.min.js")"></script>
<script src="@routes.Assets.versioned("vendors/devbridge-autocomplete/dist/jquery.autocomplete.min.js")"></script>
<script src="@routes.Assets.versioned("vendors/shield-ui/shield_grid.js")"></script>
<script src="@routes.Assets.versioned("vendors/match-heights/jquery.matchHeight-min.js")"></script>
<script src="@routes.Assets.versioned("vendors/jquery-confirm/jquery-confirm.min.js")"></script>
<script src="@routes.Assets.versioned("vendors/jquery-url/url.min.js")"></script>
<script src="@routes.Assets.versioned("vendors/jquery.inputmask/dist/min/jquery.inputmask.bundle.min.js")"></script>
<script src="@routes.Assets.versioned("vendors/icon-picker/icon-picker.js")"></script>
<script src="@routes.Assets.versioned("vendors/switchery/dist/switchery.min.js")"></script>
<script src="@routes.Assets.versioned("build/js/custom.js")"></script>
@custom